{% extends 'base.html.twig' %}

{% block body %}

    <h1>Марки на автомобили:</h1>
    
    {% for msg in app.session.flashbag.get('editCarsColor') %}
        <h2 style="color: blue">{{ msg }}</h2>
    {% endfor %}
    
    <table border=1>
        <thead>
            <tr>
                <th>ID</th>
                <th>Цвят</th>
                {# <th>Изтриване</th> #}
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td><a href="{{ path("edit_car_color", {id: color.id}) }}">{{ color.id }}</a></td>
                <td>{{ color.name }}</td>
                {# <td><a href="{{ path("delete_car_mark", {id: color.id}) }}">X</a></td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table> 

  
{% endblock %}
