<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-slider.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-grid.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
    
        <div class="container">
                <div>
                    <ul class="nav">
                        <li><a href="{{ path("search_cars") }}">Начало</a></li>
                        <li><a href="{{ path("all_cars") }}">Виж всички обяви</a></li>
                        <li><a href="{{ path("add_cars") }}">Добавяне на нов автомобил</a></li>
                        <li><a href="{{ path("add_new_mark") }}">Административен панел</a></li>
                    </ul>
                </div>
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}
            <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-slider.min.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
            <script src="{{ asset('js/cmmvars.js') }}"></script>
            <script src="{{ asset('js/myscript.js') }}"></script>
        {% endblock %}
    </body>
</html>
