{% extends 'base.html.twig' %}

{% block body %}

    <h1>Добавяне на нов вид двигател:</h1>
    
    {% for msg in app.session.flashbag.get('addEngine') %}
        <h2 style="color: blue">{{ msg }}</h2>
    {% endfor %}
    
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                    <strong>Добавяне на:</strong>
                    <ul>
                        <li><a href="{{ path("add_new_mark") }}">Нова марка</a></li>
                        <li><a href="{{ path("add_new_model") }}">Нов модел</a></li>
                        <li><a href="{{ path("add_new_engine") }}">Двигател</a></li>
                        <li><a href="{{ path("add_new_color") }}">Нов цвят</a></li>
                    </ul>
    
            </div>
        
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                    <strong>Изглед и редактиране към всички:</strong>    
                    <ul>
                        <li><a href="{{ path("view_all_marks") }}">Марки</a></li>
                        <li><a href="{{ path("view_all_models") }}">Модели</a></li>
                        <li><a href="{{ path("view_all_engines") }}">Видове двигатели</a></li>
                        <li><a href="{{ path("view_all_colors") }}">Цвят на кола</a></li>
                    </ul>
    
            </div>
        </div>
    </div>
    
    {{ form_start(engineForm) }}
        {{ form_label(engineForm.name, 'Двигател:') }}
        {{ form_widget(engineForm.name, { 'attr': {'placeholder': 'Двигател', 'style': 'padding: 0px 7px'} }) }}<br/>
        <input type="submit" value="Добави" />
    {{ form_end(engineForm) }}
  
{% endblock %}
