{% extends 'base.html.twig' %}

{% block body %}

    {% for msg in app.session.flashbag.get('searchCars') %}
        <h2 style="color: blue">{{ msg }}</h2>
    {% endfor %}
    
    <h3>Всички обяви: {{ carCount }}</h3>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
        
        <form method="post" action="{{ path("cart_add") }}">
            <table class="table table-hover" border="1" style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Марка</th>
                        <th>Модел</th>
                        <th>Двигател</th>
                        <th>Цвят</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for index, car in cars %}
                        <tr>
                            <td>
                              <a href="{{ path("edit_car", {id: car.id}) }}">{{ car.id }}</a>
                              <input type="checkbox" value="{{ car.id }}" name="cars[]"/>
                            </td>
                            <td>{{ car.mark }}</td>
                           
                            {% for model in models %}
                                {% if car.model == model.id %}
                                    <td>{{ model.name }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>{{ car.engine }}</td>
                            <td>{{ car.color }}</td>
                            <td>
                            	{% if promotion != 0 %} 
                            		<del>{{ car.price }}</del><br/> 
                        		{% endif %}
                            	{{ calc.calculate(car.price) }}
                            </td>
                            {# <td><a href="{{ path("delete_user", {id: user.id}) }}">X</a></td> #}
                        <tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>
              <button type="submit">Add to cart</button>
            </p>
            
          </form>
        </div>
    </div>
    
    <div class="paginator">
        {% if app.request.get('page', 1) > 1 %}
            <a class="prev page-numbers" href="{{ path('all_cars', {page: app.request.get('page') - 1}) }}"><</a>
        {% endif %}
    
        {% for i in 1..pages %}
            <span class="page-numbers current"><a href="{{ path('all_cars', {page: i}) }}">{{ i }}</a></span>
        {% endfor %}
        
        {% if app.request.get('page', 1) < pages %}
            <a class="next page-numbers" href="{{ path('all_cars', {page: app.request.get('page') + 1}) }}">></a>
        {% endif %}
    </div>    
  
{% endblock %}
